#adminlogin,
#adminpass,
input[name='adminpass-clone'],
#user,
#password,
input[name='password-clone'],
#displayname,
#password2,
#email {
	width: 223px !important;
	padding-left: 36px !important;
}
#adminlogin+label+img,
#adminpass-icon,
#user+label+img,
#displayname+label+img,
#password-icon,
#password2-icon,
#email-icon {
	position: absolute;
	left: 16px;
	top: 22px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: .3;
}
#displayname+label+img,#adminpass-icon, #password-icon, #password2-icon, #email-icon {
	top: 17px;
}
